.card {
  width: 24rem;
  height: 13.5rem;
  padding: 1rem;
  color: white;
}

.cardNo {
  font-size: 1.8rem;
  letter-spacing: 1.75px;
  padding: 0 0.5rem;
}

.cardFront {
  background: url("../../assets/images/bg-card-front.png") no-repeat center
    center / contain;
  align-self: start;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.logo {
  height: 100%;
  width: 40%;
  background: url("../../assets/images/card-logo.svg") no-repeat left center /
    contain;
}

.cardBack {
  background: url("../../assets/images/bg-card-back.png") no-repeat center
    center / contain;
  align-self: end;
  display: grid;
  place-items: center;
}

.text {
  width: 75%;
  line-height: 0;
  text-align: right;
}

.lowerInfo {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
  padding: 0 0.5rem;
}
