@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");

:root {
  font-family: "Space Grotesk", sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  margin: 0;
  margin: auto;
  height: 100vh;
  height: 100dvh;
  background: url("./assets/images/bg-main-desktop.png") no-repeat left center /
    contain;
}
